.consult_main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.consult_main_info{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
   justify-content: space-between;
}
.consult_main_info_1 >p{
font-size: 23px;
font-weight: bold;
}
.consult_main_info_1 > span{
    font-size: 15px;
}
.consult_main_btn{
    width: 170px;
    font-size: 15px;
    height: 40px;
    padding: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    border-radius: 5px;
}