
.container{
    
    width: 80%;
    margin: 0 auto ;
}

.search{
    position: relative;
    margin-top: 1rem;
   display: flex;
    align-items: center;
    grid-template-columns: auto;
}
.search-option >input{
    position: relative;
    width: 350px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    
    padding: 10px;
    background: transparent;
    padding-left: 50px;
    border-radius: 5px;
 
}
.br{
    margin-left: 5px;
}

.icon1{
    position: absolute;
    top: 10px;
    left: 20px;
}

.icon2{
    position: absolute;
    top: 5px;
    left: 370px;
    
}